.advantages {
    min-height: 470px;
    padding-top: 70px;
    padding-bottom: 80px;
    background-color: #f6f6f6;
    &__wrapper {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 280px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            display: block;
            width: 70px;
            margin: 0 auto;
        }
    }
    &__subtitle {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        color: #0D0D0D;
        margin-top: 35px;
    }
    &__descr {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: #0D0D0D;
        margin-top: 20px;
        line-height: 18px;
        text-align: center;
        a {
            color: $main-color;
        }
    }
}