.consultation {
    min-height: 680px;
    background: url("../images/shoe_bg.png");
    padding-top: 100px;
    padding-bottom: 100px;
    &__descr {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: $white;
    }
}